.metadata/
Spring_1/Source/it.unibo.parkmanagerservice/.gradle/
Spring_1/Source/it.unibo.parkmanagerservice/bin/.classpath.NOT
Spring_1/Source/it.unibo.parkmanagerservice/bin/.gitignore
Spring_1/Source/it.unibo.parkmanagerservice/bin/build_ctxclientguiparkin.gradle
Spring_1/Source/it.unibo.parkmanagerservice/bin/build_ctxclientguiparkout.gradle
Spring_1/Source/it.unibo.parkmanagerservice/bin/build_ctxclientparkin.gradle
Spring_1/Source/it.unibo.parkmanagerservice/bin/build_ctxclientparkout.gradle
Spring_1/Source/it.unibo.parkmanagerservice/bin/build_ctxcommand.gradle
Spring_1/Source/it.unibo.parkmanagerservice/bin/build_ctxserver.gradle
Spring_1/Source/it.unibo.parkmanagerservice/bin/build_ctxservergui.gradle
Spring_1/Source/it.unibo.parkmanagerservice/bin/build_ctxsim.gradle
Spring_1/Source/it.unibo.parkmanagerservice/bin/build_ctxsimgui.gradle
Spring_1/Source/it.unibo.parkmanagerservice/bin/carparking.pl
Spring_1/Source/it.unibo.parkmanagerservice/bin/parkingmanagerservicesystem.pl
Spring_1/Source/it.unibo.parkmanagerservice/bin/settings.gradle
Spring_1/Source/it.unibo.parkmanagerservice/bin/sysRules.pl
Spring_1/Source/it.unibo.parkmanagerservice/bin/.settings/org.eclipse.jdt.core.prefs
Spring_1/Source/it.unibo.parkmanagerservice/bin/.settings/org.jetbrains.kotlin.core.prefs
Spring_1/Source/it.unibo.parkmanagerservice/bin/gradle/wrapper/gradle-wrapper.jar
Spring_1/Source/it.unibo.parkmanagerservice/bin/gradle/wrapper/gradle-wrapper.properties
Spring_1/Source/it.unibo.parkmanagerservice/bin/src/log4j.properties
Spring_1/Source/it.unibo.parkmanagerservice/bin/src/parkingManagerServiceModel.qak
